<div class="container justify-content-center"  *ngIf="!thanks">
  <h2 id="order" class="p-5 text-center">Сделать заказ</h2>
  <form class="row col-md-12 gy-3" id="form" [formGroup]="orderForm">

    <div class="col-md-4">
      <label for="inputName" class="form-label">Имя</label>
      <input type="text" class="form-control" formControlName="name" id="inputName">

      <div *ngIf="orderForm.get('name')?.invalid &&
      (orderForm.get('name')?.touched || orderForm.get('name')?.dirty)">
        <div class="invalid-feedback" *ngIf="orderForm.get('name')?.errors?.['required']">
          Введите Ваше имя.
        </div>
        <div class="invalid-feedback" *ngIf="orderForm.get('name')?.errors?.['name']">
          Имя должно состоять только из букв.
        </div>
      </div>
    </div>


    <div class="col-md-4">
      <label for="inputSurname" class="form-label">Фамилия</label>
      <input type="text" class="form-control" formControlName="lastName" id="inputSurname">

      <div *ngIf="orderForm.get('lastName')?.invalid &&
      (orderForm.get('lastName')?.touched || orderForm.get('lastName')?.dirty)">
        <div class="invalid-feedback" *ngIf="orderForm.get('lastName')?.errors?.['required']">
          Введите Вашу фамилию.
        </div>
        <div class="invalid-feedback" *ngIf="orderForm.get('lastName')?.errors?.['name']">
          Фамилия должна состоять только из букв.
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <label for="inputPhone" class="form-label">Телефон</label>
      <input type="tel" class="form-control" formControlName="phone" id="inputPhone">

      <div *ngIf="orderForm.get('phone')?.invalid &&
      (orderForm.get('phone')?.touched || orderForm.get('phone')?.dirty)">
        <div class="invalid-feedback" *ngIf="orderForm.get('phone')?.errors?.['required']">
          Введите номер телефона.
        </div>
        <div class="invalid-feedback" *ngIf="orderForm.get('phone')?.errors?.['phone']">
          Телефон должен состоять из 11 цифр или знака "+" и 11 цифр.
        </div>
      </div>
    </div>


    <div class="col-md-6">
      <label for="inputCountry" class="form-label">Страна</label>
      <input type="text" class="form-control" formControlName="country" id="inputCountry">

      <div class="invalid-feedback" *ngIf="orderForm.get('country')?.invalid &&
      (orderForm.get('country')?.touched || orderForm.get('country')?.dirty)
      && orderForm.get('country')?.errors?.['required']">
        Введите страну.
      </div>
    </div>


    <div class="col-md-6">
      <label for="inputIndex" class="form-label">Индекс</label>
      <input type="text" class="form-control" formControlName="zip" id="inputIndex">

      <div *ngIf="orderForm.get('zip')?.invalid &&
      (orderForm.get('zip')?.touched || orderForm.get('zip')?.dirty)">
        <div class="invalid-feedback" *ngIf="orderForm.get('zip')?.errors?.['required']">
          Введите индекс.
        </div>
        <div class="invalid-feedback" *ngIf="orderForm.get('zip')?.errors?.['zip']">
          Индекс должен состоять от 6 до 9 цифр.
        </div>
      </div>
    </div>


    <div class="col-md-12">
      <label for="inputAddress" class="form-label">Адрес</label>
      <input type="text" class="form-control" formControlName="address" id="inputAddress">

      <div *ngIf="orderForm.get('address')?.invalid &&
      (orderForm.get('address')?.touched || orderForm.get('address')?.dirty)">
        <div class="invalid-feedback" *ngIf="orderForm.get('address')?.errors?.['required']">
          Введите адрес.
        </div>
        <div class="invalid-feedback" *ngIf="orderForm.get('address')?.errors?.['address']">
          Адрес может состоять из букв, цифр, пробелов, дефиса и слеша.
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <label for="inputName" class="form-label">Товар</label>
      <input type="text" class="form-control" id="inputProduct" formControlName="product" readonly>
    </div>

    <div class="col-md-6">
      <label for="inputName" class="form-label">Комментарий</label>
      <input type="text" class="form-control" id="inputComment">
    </div>

    <div class="col-md-6 mb-5 d-flex align-items-center">
      <button class="btn btn-primary d-inline-block text-decoration-none" type="submit" (click)="sendProductOrder()"
              id="btnSubmit">Отправить
      </button>

      <div class="no-thanks" *ngIf="noValid">Заполните форму</div>
      <div class="no-thanks" *ngIf="noThanks">Произошла ошибка. Попробуйте еще раз.</div>
    </div>
  </form>
</div>

<div class="d-flex justify-content-center align-items-center text-center w-75 vh-100 thanks" *ngIf="thanks">Спасибо за заказ!</div>
